<!-- <div *ngIf="selectedHero">


        <h2>{{selectedHero.name | uppercase}} Details</h2>
        <div><span>id:</span>{{selectedHero.id}}</div>
            <div>
             <label>name:
             <input [(ngModel)]="selectedHero.name" placeholder="name">
                
                
                </label>
            </div>
        </div>

        deve ser trocado os selectedHero pra hero
         -->

         <div *ngIf="VariavelHeroiDetalhado">


                <h2>{{VariavelHeroiDetalhado.name | uppercase}} Details</h2>
                <div><span>id:</span>{{VariavelHeroiDetalhado.id}}</div>
                    <div>
                     <label>name:
                     <input [(ngModel)]="VariavelHeroiDetalhado.name" placeholder="name">
                        
                        
                        </label>
                    </div>
                </div>